@font-face
{
  font-family: Roboto;
  src: url(/fonts/Roboto-Light.ttf);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

@mixin flex-display($direction, $justifyContent, $alignItems)
{
  display: flex;
  display: -webkit-flex;
  flex-direction: $direction;
  -webkit-flex-direction: $direction;
  justify-content: $justifyContent;
  -webkit-justify-content: $justifyContent;
  align-items: $alignItems;
  -webkit-align-items: $alignItems;
}

@mixin absolute-bottom($bottom)
{
  position: absolute;
  left: 0;
  right: 0;
  bottom: $bottom;
}

@mixin transition($duration)
{
  -webkit-transition: $duration ease-in-out;
  -moz-transition: $duration ease-in-out;
  -ms-transition: $duration ease-in-out;
  -o-transition: $duration ease-in-out;
  transition: $duration ease-in-out;
}

@mixin transparent($opacity)
{
  opacity: $opacity;
  filter: alpha(opacity=$opacity * 100); /* IE */
  -moz-opacity: $opacity; /* Moz + FF */
}

 
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.dropdown-submenu.pull-left {
  float: none;
}
.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}


.the-wiki-system-sucks
{
  position: fixed;
  top: 0;
}

.the-wiki-system-sucks, .the-wiki-system-sucks *
{
  z-index: 1000;
  font-family: Roboto, 微软雅黑;
  font-weight: 300;

}
nav
{
  z-index: 1001 !important;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  opacity: 0.85;
  filter: alpha(opacity=85);
  /* IE */
  -moz-opacity: 0.85;
  /* Moz + FF */
}
nav img
{
  max-height: 100%;
}

img.button-pic
{
  float: left;
}

.bordered-btn
{
  padding: 6px 3px !important;
  margin: 7px 12px !important;
  border: 1px solid #777;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.active a
{
  background: transparent !important;
  color: #4ebcb0 !important;
}

.section {
  text-align:center;
  color: #777;
}

.relative-frame
{
  position: relative;
}

.bear
{
  width: 360px;
}

.logo
{
  width: 100px;
  /*display: block;
  margin: auto;*/
}

.intro
{
  max-width: 80%;
  text-align: center;
  margin: auto;
  h1
  {
    color: black;
  }
  p
  {
  }
}

.arrow
{
  position: absolute;
  bottom: 18px;
  left: 50%;
  margin-left: -27px;
  @include transition(1.0s)
}

.transparent
{
  @include transparent(0);
}

h1
{
  font-size: 34px;
}

h2
{
  font-size: 34px;
  color: #4ebcb0;
}

.hr-black {
  height: 1px;
  background-color: #B5B5B5;
  width: 33%;
  margin: 0 auto;
}

.grey-bk
{
  background-color: #cecece;
}

.dark-bk
{
  background-color: #434343;
}

$textContainerHrMargin: 30px;
.text-container
{
  margin: auto $textContainerHrMargin;
}

$s2TextWidth: 40%;
$s2SwitchWidth: 8%;
$s2GifWidth: 100% - $s2TextWidth - $s2SwitchWidth;
$s2ContainerBottom: 0;
.s2-container
{
  @include flex-display(row, center, flex-start);

  max-width: 80%;
  margin: 100px auto auto auto;
  text-align: left;

  img
  {
    display: inline-block;
  }

  .s2-text-container
  {
    width: $s2TextWidth;
  }

  .s2-gif
  {
    width: $s2GifWidth;
  }

  .s2-switch
  {
    width: $s2SwitchWidth;
  }
}


$sectionTitleFontSize: 26px;
$sectionTextFontSize: 18px;
.section
{
  h4
  {
    font-size: $sectionTitleFontSize;
    color: black;
  }

  p
  {
    font-size: $sectionTextFontSize;
  }
}


$s3GifWidth: 50%;
$s3TextWidth: 35%;
.s3-container
{
  @include flex-display(row, space-between, flex-start);
  text-align: right;
  max-width: 90%;
  margin: auto;
  margin: 100px auto auto auto;

  img
  {
    width: $s3GifWidth;
  }

  .s3-text-container
  {
    width: $s3TextWidth;
  }
}


$s4ImgGrpColWidth: 35%;
.s4-container
{
  width: 70%;
  text-align: center;
  margin: auto;
  @include absolute-bottom(20px);

  .s4-text-container
  {
    width: 100%;
    margin: auto !important;
  }

  > img
  {
    width: 50%;
  }

  .s4-img-grp
  {
    @include flex-display(row, space-between, center);
    > *
    {
      width: $s4ImgGrpColWidth;
    }

    img
    {
      max-width: 100%;
    }


  }
}


.s5-container
{
  width: 33%;
  margin: auto;
  margin: 150px auto auto auto;
  img
  {
    max-width: 100%;
  }

  .s5-text-container
  {
    width: 80%;
  }
}


$sponsorVtMargin: 100px;
.banner-container
{
  color: #d4d4d4;
  max-width: 60%;
  margin: auto;
  .sponsor
  {
    margin: $sponsorVtMargin auto;
  }

  p
  {
    font-size: 12px;
  }

  .contact
  {
    position: absolute;
    top: $sponsorVtMargin;
    right: 50px;
    margin: 0;
  }
}
